In [1]:
import pandas as pd
import numpy as np

### 구간 분할 (binning)

예를들어, horsepower이 숫자로 나타나는데, 경우에 따라서 '고출력', '보통출력', '저출력' 으로 나눠야 될 때가 있다

In [111]:
df = pd.read_csv('../../../05000266/part5/auto-mpg.csv')
df.head()

   18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0  15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1  18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2  16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3  17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4  15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500

In [112]:
df.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']

In [113]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

In [114]:
print(df['horsepower'].shape)

(397,)

In [115]:
df['horsepower'].nunique()

94

In [117]:
# Replace '?' to NaN
df['horsepower'].replace('?', np.nan, inplace=True)

In [118]:
# '?' row 삭제
df.dropna(subset=['horsepower'], axis = 0, inplace=True)
df['horsepower'].shape

(391,)

In [119]:
# 문자열을 실수형으로 변환
df['horsepower'] = df['horsepower'].astype('float')
print(df['horsepower'].dtypes)

float64

In [120]:
df['horsepower'].unique()

array([165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,  95.,
        97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193., 100.,
       105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,  65.,  69.,
        60.,  80.,  54., 208., 155., 130., 112.,  92., 145., 137., 158.,
       167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,  78.,
        52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,  81.,
        79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,  48.,
        66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62., 132.,
        84.,  64.,  74., 116.,  82.])

In [121]:
# np.histogram 함수로 3개의 bin으로 구분할 경계값의 리스트 구하기
count, bin_dividers = np.histogram(df['horsepower'], bins=3)
print(bin_dividers)

[ 46.         107.33333333 168.66666667 230.        ]

In [122]:
# 3개의 bin에 이름 지정
bin_names = ['저출력', '보통출력', '고출력']

# pd.cut 함수로 각 데이터를 3개의 bin에 할당
df['hp_bin'] = pd.cut(x=df['horsepower'], bins=bin_dividers, labels=bin_names, include_lowest=True)

df[['horsepower','hp_bin']].head(15)

    horsepower hp_bin
0        165.0   보통출력
1        150.0   보통출력
2        150.0   보통출력
3        140.0   보통출력
4        198.0    고출력
5        220.0    고출력
6        215.0    고출력
7        225.0    고출력
8        190.0    고출력
9        170.0    고출력
10       160.0   보통출력
11       150.0   보통출력
12       225.0    고출력
13        95.0    저출력
14        95.0    저출력

### Dummy Variable

In [124]:
# 0 or 1: 해당 feature가 존재하면 1, 아니면 0 => one-hot-encoding

horsepower_dummies = pd.get_dummies(df['hp_bin'])
horsepower_dummies.head(15)

    저출력  보통출력  고출력
0     0     1    0
1     0     1    0
2     0     1    0
3     0     1    0
4     0     0    1
5     0     0    1
6     0     0    1
7     0     0    1
8     0     0    1
9     0     0    1
10    0     1    0
11    0     1    0
12    0     0    1
13    1     0    0
14    1     0    0