In [1]:
import pandas as pd
import numpy as np

In [5]:
s1 = pd.Series({'국어':12, '수학':13, '영어':15})
s2 = pd.Series({'국어':23, '수학':43, '영어':55})

In [6]:
s1

국어    12
수학    13
영어    15
dtype: int64

In [10]:
pd.DataFrame([s1+s2,s1-s2],index=['덧셈','뺄셈'])

    국어  수학  영어
덧셈  35  56  70
뺄셈 -11 -30 -40