In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../05000266/part3/auto-mpg.csv')

In [3]:
df.head()

   18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0  15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1  18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2  16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3  17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4  15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500

In [5]:
df.columns = ['mpg', 'cylinders', 'displacement','horsepower','weight','acceleration','model year','origin','name']

In [7]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

In [8]:
df.shape

(397, 9)

In [9]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [10]:
df.mpg.dtypes

dtype('float64')

In [12]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.528463,5.448363,193.139798,2969.080605,15.577078,76.025189,1.574307
std,7.820926,1.698329,104.244898,847.485218,2.755326,3.689922,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.900000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.200000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [13]:
df.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
count,397.000000,397.000000,397.000000,397,397.000000,397.000000,397.000000,397.000000,397
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.528463,5.448363,193.139798,NaN,2969.080605,15.577078,76.025189,1.574307,NaN
std,7.820926,1.698329,104.244898,NaN,847.485218,2.755326,3.689922,0.802549,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.000000,NaN,2223.000000,13.900000,73.000000,1.000000,NaN
50%,23.000000,4.000000,146.000000,NaN,2800.000000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3609.000000,17.200000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [14]:
df.count()

mpg             397
cylinders       397
displacement    397
horsepower      397
weight          397
acceleration    397
model year      397
origin          397
name            397
dtype: int64

In [15]:
type(df.count())

pandas.core.series.Series

In [16]:
df['origin'].value_counts()

1    248
3     79
2     70
Name: origin, dtype: int64

In [17]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

In [18]:
df['mpg'].mean()

23.528463476070538

In [19]:
df.mean()

mpg               23.528463
cylinders          5.448363
displacement     193.139798
weight          2969.080605
acceleration      15.577078
model year        76.025189
origin             1.574307
dtype: float64

In [20]:
df[['mpg','weight']].mean()

mpg         23.528463
weight    2969.080605
dtype: float64

In [21]:
df['mpg'].median()

23.0

In [22]:
df['mpg'].max()

46.6

In [23]:
df['mpg'].min()

9.0

In [24]:
df.corr()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775412,-0.803972,-0.831558,0.419133,0.578667,0.562894
cylinders,-0.775412,1.000000,0.950718,0.896623,-0.503016,-0.344729,-0.561796
displacement,-0.803972,0.950718,1.000000,0.932957,-0.542083,-0.367470,-0.608749
weight,-0.831558,0.896623,0.932957,1.000000,-0.416488,-0.305150,-0.580552
acceleration,0.419133,-0.503016,-0.542083,-0.416488,1.000000,0.284376,0.204102
model year,0.578667,-0.344729,-0.367470,-0.305150,0.284376,1.000000,0.178441
origin,0.562894,-0.561796,-0.608749,-0.580552,0.204102,0.178441,1.000000

In [25]:
df[['mpg','weight']].corr()

             mpg    weight
mpg     1.000000 -0.831558
weight -0.831558  1.000000

In [26]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
208.0     1
54.00     1
113.0     1
158.0     1
107.0     1
Name: horsepower, Length: 94, dtype: int64

In [27]:
df['horsepower'].unique()

array(['165.0', '150.0', '140.0', '198.0', '220.0', '215.0', '225.0',
       '190.0', '170.0', '160.0', '95.00', '97.00', '85.00', '88.00',
       '46.00', '87.00', '90.00', '113.0', '200.0', '210.0', '193.0', '?',
       '100.0', '105.0', '175.0', '153.0', '180.0', '110.0', '72.00',
       '86.00', '70.00', '76.00', '65.00', '69.00', '60.00', '80.00',
       '54.00', '208.0', '155.0', '130.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [28]:
df['horsepower'].nunique()

94