In [1]:
import pandas as pd

# <Part 1> 2-1 Series

### (EX1) Dictionary -> Series

In [4]:
dict_data = {'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data) # dictionary를 Series() 함수에 전달하면 Series Object을 반환

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

### Series의 Index & Value 값 배열 - index이름 있을때

In [5]:
sr.index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
sr.values

array([1, 2, 3])

### (EX2)  List -> Series

In [7]:
list_data = ['313',3.14,'ABC',100]
sr = pd.Series(list_data)
print(sr)

0     313
1    3.14
2     ABC
3     100
dtype: object

List를 Series로 변환할때는 **index**가 따로 없으므로 default index (0,1,2,..) 를 자동으로 사용됨

In [9]:
idx = sr.index
val = sr.values
print(idx)
print(val)

RangeIndex(start=0, stop=4, step=1)
['313' 3.14 'ABC' 100]

Index가 default index이기 때문에 **RangeIndex**로 표시가됨

### Tuple -> Series

In [10]:
tup_data = ('안녕','2011-23-23', True, 23)
sr = pd.Series(tup_data)
print(sr)

0            안녕
1    2011-23-23
2          True
3            23
dtype: object

### (EX 1-3) Tuple/List Index 설정

In [20]:
tup_data = ('Jason','2010-02-32','Female',True)
list_data = [1,2,'22',4325]

sr = pd.Series(tup_data, index=['Name','Birthday','Sex','Student'])
sr2 = pd.Series(list_data, index=['name','age','ada','networth'])
print(sr1)
print('\n')
print(sr2)

Name             Jason
Birthday    2010-02-32
Sex             Female
Student           True
dtype: object


name           1
age            2
ada           22
networth    4325
dtype: object

### (EX 1-3) Series 원소 선택

In [23]:
print(sr[0])
print(sr['Name'])

Jason
Jason

In [25]:
sr[[1,2]]

Birthday    2010-02-32
Sex             Female
dtype: object

In [26]:
sr[['Birthday','Sex']]

Birthday    2010-02-32
Sex             Female
dtype: object

#### Index Range로 원소 선택

**integer range** -> end index **불포함**

**String range** -> end index **포함**

In [27]:
sr[1:2]

Birthday    2010-02-32
dtype: object

In [28]:
sr['Birthday':'Sex']

Birthday    2010-02-32
Sex             Female
dtype: object

NameError: name 'df' is not defined